* {
  margin: 0;
  padding: 0;
}

i {
  font-size: 20px;
  color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 14px;
}

nav .left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .left-nav li {
  padding: 8px;
  list-style: none;
}
nav .middle-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .middle-nav li {
  padding: 12px;
  list-style: none;
}
nav .middle-nav button {
  width: 33px;
  height: 33px;
  background-color: white;
  margin: 0;
  border: none;
}
nav .middle-nav form input {
  width: 340px;
  height: 30px;
  list-style: none;
  position: relative;
}
nav .right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav .right-nav li {
  padding: 10px;
  list-style: none;
}

main {
  padding: 20px;
}

.video-area {
  width: 70%;
}

@media screen and (width: '789px') {
  .video-area {
    width: 100%;
  }
}

.video {
  width: 100%;
}

.video-suggestions {
  width: 30%;

}